body
  margin 0
i
  font-style normal
button
  margin 0
  padding 0
h1, h2
  margin 0
  padding 0
.fr
  float right
i.icon-gold_coin
  display inline-block
  width 88px
  height 88px
  background url(../images/icon-gold_coin.png)
  background-size cover
i.icon-audio
  display inline-block
  width 50px
  height 50px
  background url(../images/icon-audio.png)
  background-size cover
  vertical-align middle